<%= form_for @pet do |p| %>
<% if @pet.errors.any? %>
    <ul>
      <% @pet.errors.full_messages.each do |error| %>
        <li><%= error %></li>
       <% end %>
    </ul> 
   <% end %>
		<%= p.label :name %> 
		<%= p.text_field :name %>
		

    <%= p.label :photo %>
    <%= p.file_field :photo %>

    <%= p.label :species_id %>
    <%= p.select :species_id,
  Species.all.collect { |p| [p.name, p.id]}, include_blank: true %>

    <%= p.submit %>
 
<% end %>


