<h1>Welcome</h1>

<p>
	<% if @current_user %>
	Welcome, <%= @current_user.email %>!

	Log out <%= link_to "here", logout_path %>
	<% else %>

		Log in <%= link_to "here", new_session_path %> or
		<%= link_to "register", new_user_path %>
	<% end %>

	<p><%= link_to "user profile", user_path(@current_user.id) %></p>
</p>



